body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #333;
    border-left: 5px solid #af904c;
    padding-left: 10px;
}

.cadastro {
    margin-top: 10px;
}

.forms {
    background: #fff;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.fundo {
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 10px;
    padding: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    padding-right: 0px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #af904c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #91763e;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1;
    min-width: 300px;
}

.pedido {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

hr {
    border: none;
    border-top: 1px solid #ddd;
}

.msg {
    background: #e7f9ed;
    color: #2e7d32;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.erro {
    background: #fdecea;
    color: #c62828;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #50492c;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
    font-size: 14px;
}

.editar {
    background: #af904c;
    color: #007ccf;
    padding: 10px;
    border-radius: 5px;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffd900;
}

.topo a {
    color: #ffd900;
    margin-left: 10px;
    text-decoration: none;
}

.excluir {
    background: #af904c;
    color: #dd2814;
    padding: 10px;
    border-radius: 5px;
}

.editar:hover {
    background: #2980b9;
    color: white;
}

.excluir:hover {
    background: #c0392b;
    color: white;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    form {
        max-width: 100%;
    }

    h2 {
        font-size: 18px;
    }
}

.autor-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar-mini {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}